/* --------------------- FONTS */

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: lato-medium;
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-thin;
    src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: museo-sans;
    src: url(../fonts/MuseoSans_700.otf);
    font-weight: 700;
}

 p {
    font-family:lato-light;
} 

html, body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    color: #797977;
}

/* Nav */

.navbar {
    height: 70px;
    background-color: #474747;
    font-family: lato-light;

}

.navbar-brand {
    color: #fff;
}

#nav-email {
    text-decoration: none;
    color: #fff;
}

.fa-envelope {
    font-size: 20px;
    color: #fff;
}

#new-header {
    font-family: museo-sans;
    font-weight: 700;

}

/* Landing Image Container */

#landing-image-container {
    align-items: center;
}

#landing-section {
    background: url('../images/landing-image.jpg') no-repeat center center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: lato-thin;
}

#company-heading {
    font-size: 60px;
    color: #fff;
}

#company-subheading {
    color: #fff;
    font-size: 20px;
}

#contact-cta {
    border-radius: 20px !important;
    padding: 5px 50px 5px 50px;
    font-family: lato-regular;
    font-size: 15px;
    margin-top: 40px;
    letter-spacing: 3px;
}

/* Text Area */

#intro-text-container {
    padding-top: 50px;
    text-align: center;
    background-color: #fff;
}

#intro-text1 {
    font-size: 25px;
    padding-bottom: 30px;
    font-family: lato-thin;
}

#intro-text2 {
    font-family: lato-thin;
    font-size: 20px;
    padding-bottom: 30px;
}

/* Circle Icons */

.circle {
    height: 180px;
    width: 180px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
}

#circle1 {
    background-color: #FDD9B1;
}

#item1 {
    color: #F7931F;
    font-family: museo-sans;
}

#circle2 {
    background-color: #D1EDBD;
}

#item2 {
    color: #3AB54A;
    font-family: museo-sans;
}

#circle3 {
    background-color: #CAB7D8;
}

#item3 {
    color: #672D91;
    font-family: museo-sans;
}

.circle img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Form */

#form-instructions {
    text-align: center;
}

#contact-form input, textarea {
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
    font-family: lato-light;
}

#form-instructions p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#form-container {
    background-color: #F3F3F3;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-submit {
    border-radius: 20px !important;
    padding: 5px 50px 5px 50px;
    font-family: lato-regular;
    font-size: 15px;
    color: #797977;
    border-color: #797977;
}

/* Location */

#location-container {
    text-align: center;
    background: url('../images/map.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    zoom: 80%;
}

#location-text {
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
    padding-bottom: 20px;
}

#location-text h4 {
    letter-spacing: 3px;
}

/* Stats */

#stats-container {
    text-align: center;
    background-color: #7C6099;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.stat-circle {
    background-color: #BEAFCB;
}

.stats-container h4 {
    letter-spacing: 3px;
}

.stat-circle p {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #672D91;

    font-family: lato-thin;
}

.stat-circle span {
    display: block;
    font-size: 60px;
    line-height: 40px;
    padding-top: 20px;
}

#find-out-more-btn {
    border-radius: 20px !important;
    padding: 5px 50px 5px 50px;
    font-family: lato-regular;
    font-size: 15px;
    margin-top: 40px;
}

/* Footer */

#footer {
    height: 140px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    background-color: #F3F3F3;
}

#company-name-footer {
    text-align: left;
    color: #474747;
    font-family: lato-light;
}

#new-footer {
    font-family: museo-sans;
    font-weight: 700;
}

#google-partner {
    box-shadow: 1px 1px 3px #797977;
    display: block;
    float: right;
}

#copyright {
    float: right;
    display: block;
    padding-top: 10px;
    font-size: 10px;
}

/* Media Queries */

@media screen and (max-width: 576px) {
    #location-text {
        padding-bottom: 10px;
    }
    #footer {
        height: 170px;
    }
    #company-name-footer {
        display: inline-block;
        text-align: center;
    }
    #google-partner {
        float: none;
        display: inline-block;
    }
    #copyright {
        float: none;
    }
}










