/* --------------------- FONTS */

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: lato-medium;
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-thin;
    src: url(../fonts/Lato-Thin.ttf);
}

h1 h2, h3, p, a {
    font-family:lato-light;
}

/* Landing Image Container */

#landing-image-container {
    align-items: center;
}

#landing-section {
    background: url('../images/landing-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#company-heading {
    font-size: 60px;
    color: #fff;
}

#company-subheading {
    color: #fff;
    font-size: 20px;
}

#contact-cta {
    border-radius: 20px !important;
    padding: 5px 50px 5px 50px;
    font-family: lato-regular;
    font-size: 15px;
    margin-top: 40px;
}

#intro-text-container {
    margin-top: 50px;
    text-align: center;
}

#intro-text1 {
    font-size: 25px;
    padding-bottom: 30px;
    font-family: lato-thin;
}

#intro-text2 {
    font-family: lato-thin;
    font-size: 20px;
    padding-bottom: 30px;
}



