/* --------------------- FONTS */

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: lato-medium;
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-thin;
    src: url(../fonts/Lato-Thin.ttf);
}

h1 h2, h3, p, a {
    font-family:lato-light;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    color: #797977;
}

/* Landing Image Container */

#landing-image-container {
    align-items: center;
}

#landing-section {
    background: url('../images/landing-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#company-heading {
    font-size: 60px;
    color: #fff;
}

#company-subheading {
    color: #fff;
    font-size: 20px;
}

#contact-cta {
    border-radius: 20px !important;
    padding: 5px 50px 5px 50px;
    font-family: lato-regular;
    font-size: 15px;
    margin-top: 40px;
}

/* Text Area */

#intro-text-container {
    margin-top: 50px;
    text-align: center;
}

#intro-text1 {
    font-size: 25px;
    padding-bottom: 30px;
    font-family: lato-thin;
}

#intro-text2 {
    font-family: lato-thin;
    font-size: 20px;
    padding-bottom: 30px;
}

/* Circle Icons */

.circle {
    height: 180px;
    width: 180px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
}

#circle1 {
    background-color: #FDD9B1;
}

#item1 {
    color: #F7931F;
}

#circle2 {
    background-color: #D1EDBD;
}

#item2 {
    color: #3AB54A;
}

#circle3 {
    background-color: #CAB7D8;
}

#item3 {
    color: #672D91;
}

.circle img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Form */

#form-instructions {
    text-align: center;
}

#contact-form input, textarea {
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
    font-family: lato-light;
}

#form-instructions p {
    padding-top: 20px;
    padding-bottom: 20px;
}

#form-container {
    background-color: #F3F3F3;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-submit {
    border-radius: 20px !important;
    padding: 5px 50px 5px 50px;
    font-family: lato-regular;
    font-size: 15px;
    color: #797977;
    border-color: #797977;
}

/* Location */

#location-container {
    text-align: center;
    background: url('../images/map.png') no-repeat center center;
    height: 70vh;
    zoom: 80%;
}

#location-text {
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Media Queries */

@media screen and (max-width: 576px) {
    #location-text {
        padding-bottom: 10px;
    }
}








